<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="votre-css.css">
    <title>Document</title>
</head>
<body>
    <!--
        Pour ecrire vos classe/Id correctement 
        Nous allons suivre un certain nombre de règles
        le kebab case est une façon d'écrire les classe / id 
        ma-super-classe
        Dans le html écrivez vos id / classe de cette manière
        pour les classes / ID dédié à js alors ajouté un -js à la fin de votre classe
        Cela vous permettra de savoir directement quel classe / id sert pour faire du JavaScript
    
    -->
    <script src="votre-projet.js"></script> <!--Il faut mettre le script à la fin pour que
                                             la page ce charge avant le script-->
</body>
</html>